* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(79, 21, 238, 0.47);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  padding: 20px;
  margin-top: 150px;
  color: white;
  /* text-decoration: underline; */
}

.login-section {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
}

.login-section form {
  width: 100%;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.username {
  width: 100%;
  /* margin: 20px; */
  padding: 15px;
  border-radius: 10px;
}

.password {
  width: 100%;
  /* margin: 20px; */
  padding: 15px;
  border-radius: 10px;
}

.login {
  width: 100px;
  padding: 10px;
  text-align: center;
  background-color: rgba(53, 147, 43, 0.596);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

h2 {
  text-align: center;
}
